.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  &__link {
    margin-left: 23px;
    font: bold 0.85rem "Montserrat", Serif;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;

    &:hover {
      border-top: 4px solid #4acaff;
      border-radius: 1px;
    }

  }
}